page-take-picture {
    
    .overflowStyle {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

.select-text {
    white-space: inherit;
} 

.refillStyle {
    background-color: #5fb20c;
    padding: 0.3em;
    color: #fff;
    width: 5em;
}     
    
}

      